@font-face {
    font-family: helen-light;
    src: url(../fonts/Helen-Bg-Light.woff2);
}

@font-face {
    font-family: helen-regular;
    src: url(../fonts/Helen-Bg-Regular.woff2);
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--main-black);
    /* font-family: helen-regular; */
    margin: 0;
}

html {
    scroll-behavior: smooth;
    margin-top: 0;
}


h1,
h2 {
    line-height: 1.3;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Gothic", sans-serif;

}

p,
li,
a,
span {
    line-height: 1.3;
}

:root {
    --main-black: #161616;
    --main-yellow: #f3b800;
    --light-yellow: #f8a900;
    --main-grey: #ececec;
    --main-red: #f3371a;
    --main-orange: #f37c00;

    --main-green: #2f7d39;
}

img {
    width: 100%;
    height: auto;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.on-desktop {
    display: none;
}



/*  */

.hero-text {
    width: 85%;
    margin: auto;
    margin: 15px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars img {
    width: 100px;

}

.stars p {
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;

}

.hero-text h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 12px;
}

.description {
    color: #373737;
    line-height: 1.5;
    font-size: 14px;
}

.description b {
    display: block;
    font-size: 17px;
    color: #121212;
    margin-bottom: 8px;
    font-weight: 400;
}

.description span {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 15px;
    color: black;
}

.green-cta {
    background-color: var(--main-green);
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.cta {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.bullets {
    border-top: 1px solid rgba(193, 193, 193, 0.647);
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    padding-top: 25px;
}

.bullets li {
    display: grid;
    grid-template-columns: 25px 1fr;
    column-gap: 13px;
    font-size: 11px;
}

/*  */

.title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
}

.daily-nutrition {
    margin: 40px auto;
    color: #000000cf;
}

.text-right {
    text-align: right;
}

.daily-nutrition-text {
    z-index: 2;
    width: 90%;
    margin: auto;
}

.text-right {
    font-weight: 700;

    margin-top: 25px;
    margin-bottom: 20px;

}

.text-center {
    text-align: center;

}

.text-center {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #56535352;


}

.glass-text {
    margin-top: -200px;
    z-index: -1;
    position: relative;

}

.glass-text ul {
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.glass-text ul li {
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;

}


/*  */

/* 
    transition: all .3s ease;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); */

.benefits .title {
    text-align: left;
}

.benefits {
    color: #000000cf;

}

.benefits ul li {
    background-color: #f6f5f1;
    margin-bottom: 10px;
    margin-top: 20px;

}

.benefits ul li p {
    margin: auto;
    width: 90%;
    padding: 7px 15px;
    font-size: 16px;

}

.benefits ul li span {
    display: block;
    font-weight: 400;
    font-size: 24px;
    color: #000;

}



/*  */

.offers-title {
    color: #000000cf;
    margin-top: 25px;
    margin-bottom: 20px;

}

.offers-title span {
    display: block;
}

.card {
    box-shadow: 0px 2px 8px 1px rgba(112, 112, 112, 0.2);
    border-radius: 10px;

}

.card-top {
    background-color: #0f2e2f;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 14px;

}

.card-text {
    width: 90%;
    margin: 15px auto;

}


.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    font-size: 14px;
    margin: 7px 0;
}

.prices p {
    margin-right: 7px;
}

.prices p:first-child {
    background-color: #eef2f5;
    color: #2d8cfd;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px;
}

.prices p:nth-child(2) {
    text-decoration: line-through;
    color: #9c9c9cd6;
    font-weight: 500;
}

.prices p:nth-child(3) {
    font-weight: 600;
    /* font-size: 16px; */
}

.card-products {
    color: #9c9c9cd6;
    font-size: 12px;
}

.card-text img {
    width: 70%;
    margin: auto;
    display: block;
}

.card-ingr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    width: 50%;
    margin: auto;
    margin-bottom: 7px;
    color: #2d2d2dd6;
}


.card-last {
    font-size: 14px;
    margin-top: 20px;
    color: #2d2d2dd6;
    padding-left: 15px;

}

.card-text ul {
    padding-left: 50px;
    margin-top: 10px;
    color: #2d2d2dd6;
    font-size: 14px;
    padding-bottom: 20px;
}

.card-text ul li {
    list-style-type: disc;
    margin-bottom: 3px;

}


.prices p.prices-last {
    background-color: unset;
    color: black;
    font-weight: 600;
    padding: 0;
    border-radius: unset;
    font-size: 16px;

}

.card-title-last {
    padding-top: 15px;
}

.pure-ingr {
    margin: 50px auto;
}

.pure-ingr p:first-child {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;


}

.pure-ingr p:last-child {
    color: #000000cf;

}


.pure-ingr ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.pure-ingr ul li {
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;

}

.pure-ingr ul li img {
    width: 20px;
    display: block;
    margin: auto;
    margin-bottom: 5px;



}

/*  */

.scoop-text {
    width: 90%;
    margin: 20px auto;

}


.scoop-text .title {
    text-align: left;
}

.scoop-text p:nth-child(2) {
    font-size: 14px;
    margin-bottom: 15px;
}

.scoop-text p:nth-child(3) {
    text-transform: uppercase;
    color: #585858d6;
    padding-bottom: 2px;
    border-bottom: 1px solid #9a9a9a8d;
}

.scoop-text ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    column-gap: 15px;

}

.scoop-text ul li {
    text-align: center;
    font-weight: 500;
    font-size: 14px;

}

.scoop-text ul li span {
    display: block;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;

}

.scoop-text ul:last-child {
    border-top: 1px solid #9a9a9a8d;
}


/*  */

.how-to-use .title {
    text-align: left;
}

.how-to-use ul {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

}

.how-to-use ul li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.how-to-use ul li img {
    border-radius: 7px;
    margin-bottom: 5px;
}




/*  */

.craft-section {
    width: 90%;
    margin: auto;
}

.craft {
    margin: 40px auto;
}

.craft .title {
    text-align: left;
    margin-top: 30px;
}

.craft ul {
    margin: 30px auto;
}

.craft li.usp::before {
    content: "\2713";
    margin: 0 7px;
    margin-top: 0;

}

.craft li.usp::after {
    content: "\207A";
    margin: auto;
    margin-right: 0;
    margin-top: -10px;
    color: #424242e3;
    font-size: 40px;
    font-weight: 400;
    height: 10px;
    transition: transform 0.3s ease, content 0.3s ease;
    display: inline-block;

}

.craft li.a {
    display: none;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 10px;
}

.craft li.usp {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    margin: 10px 0px;
    margin-bottom: 0;
    font-weight: 700;
    border-top: 1px solid rgba(200, 200, 200, 0.593);
    padding: 10px 0;
    padding-top: 20px;
    position: relative;
    color: #272727e3;

}




.craft li.usp.active::after {
    content: "\2212";
    margin-top: -13px;

}

.craft-bagdes {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.craft-bagdes img {
    width: 70px;
}


.craft-div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0;
    column-gap: 15px;

}

.craft-div ul li {
    text-align: left;
    font-weight: 500;
    font-size: 14px;

}

.craft-div ul li span {
    display: block;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;

}


/*  */

.reviews {
    margin: 40px auto;
}

.reviews .title {
    text-align: left;
    font-size: 24px;
    line-height: 1.3;
}

.review {
    background-color: #f6f5f1;
    padding: 20px;

}

.review img {
    width: 100px;
    margin-bottom: 10px;
}

.review p {
    margin-bottom: 20px;
}

.review p:last-child {
    margin-bottom: 0;
    font-size: 14px;

}

.review p:nth-child(3) {
    font-size: 14px;
    line-height: 1.3;
}

.reviews .swiper-slide {
    width: 80% !important;
}



/*  */


/* 
.testimonials .swiper-wrapper { 
    width: 75%;
    margin: auto !important;
    margin-bottom: 20px !important;
} */

.mySwiper1 {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.testimonials {
    padding: 50px 15px;
    background-color: #f3f1f0;

}

.testimonials .title {
    text-align: left;
    margin-bottom: 20px;
}


.swiper-slide-div {
    padding: 0 15px;

}

.swiper-slide-div p:nth-child(2) {
    margin: 15px 0;
    font-size: 18px;
}






/*  */

.faqs {
    width: 90%;
    margin: auto;
    margin-top: 40px;

}

.faqs .title {
    text-align: left;
}


.faqs li.usp::after {
    content: "\207A";
    margin: auto;
    margin-right: 0;
    margin-top: -10px;
    color: #424242e3;
    font-size: 40px;
    font-weight: 300;
    height: 10px;
    transition: transform 0.3s ease, content 0.3s ease;
    display: inline-block;

}

.faqs li.a {
    display: none;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 10px;
}

.faqs li.usp {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    margin: 10px 0px;
    margin-bottom: 0;
    font-weight: 700;
    border-top: 1px solid rgba(200, 200, 200, 0.593);
    padding: 10px 0;
    padding-top: 20px;
    position: relative;
    /* color: #272727e3; */

}

.faqs li.usp:first-child {
    border-top: unset;
}


.faqs li.usp.active::after {
    content: "\2212";
    margin-top: -13px;

}



@media only screen and (min-width: 768px) {
    .on-desktop {
        display: block;
    }

    .on-mobile {
        display: none;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .hero .green-cta {
        width: 60%;

    }

    .daily-nutrition {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }

    .daily-nutrition {
        width: 85%;
        margin: auto;
    }

    .glass-text {
        margin-top: 0;
    }

    .text-center {
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .glass-text ul p {
        text-align: left;

    }

    .glass-text ul li {
        text-align: left;
    }

    .benefits ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
        margin: 40px 0;
    }

    .benefits ul li{
        margin: 0;
    }



/* } */



/* @media only screen and (min-width: 994px) { */


    .offers {
        display: grid;
        grid-template-columns: 150px 1fr;
    }
    .offers-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }
    .card-text img{
        width: 150px;
    }
}